body {
	color: white;
	background-color: black; 
	font-family: arial;
}
h1 {
	color: gray; 
	font-family: verdana;
}
.maindiv {

	background-color: white;
	color: black; 
	width: 300 pixels;
	padding: 20px 20px 20px 20px;
  	border-radius: 25px;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}